.flexcontainer {
  width: 100%;
  height: 100%;
}

.flextxt {
  display: flex;
  gap: 36px;
  padding: 0rem 5rem;
  color: white;
}

.flexbox {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 10px 36px;
  flex: 1;
}

.flexbox h3 {
  font-weight: 700;
  font-size: 30px;
}

.flexbox p {
  font-size: 22px;
  color: gray;
}

@media (max-width: 1024px) {
  .flextxt {
    padding: 0rem 3rem;
    gap: 24px;
  }

  .flexbox h3 {
    font-size: 28px;
  }

  .flexbox p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .flextxt {
    padding: 0 2rem;
    gap: 16px;
  }

  .flexbox {
    padding: 8px 18px;
    width: 100%;
  }

  .flexbox h3 {
    font-size: 24px;
  }

  .flexbox p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .flextxt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    gap: 16px;
  }

  .flexbox {
    padding: 8px 18px;
    width: 100%;
  }

  .flexbox h3 {
    font-size: 24px;
  }

  .flexbox p {
    font-size: 18px;
  }
}
